<div class="container text-start g-1">
  <div class="row">
    <div class="col-12">
      <h1>Listado Personas</h1>
      <app-persona></app-persona>
      <p *ngIf="showPerson; else emptyPerson">{{mensaje}} with <title></title> {{title}}</p>
      <label>Profesión persona: </label>
      <input placeholder="Developer" type="text" class="form-control"
      (input)="changeTitle($event)"/>
      <button class="mt-3 btn btn-primary" [disabled]="disabled" (click)="addPerson()">Add person</button>
      <ng-template #emptyPerson>
        <p>No se ha agregado ningún titulo a la persona</p>
      </ng-template>
    </div>
  </div>
</div>
