.box{
  height: 200px;
  width: 200px;
  overflow: auto;
  background-color: aqua;
}
// Mobile
.products--grid {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;

  div {
      img {
          width: 100%;
          border-radius: 10px;
      }
      h2, p {
          margin: 0;
      }
  }
}

.message-error{
  background-color: red;
  color: black;
  opacity: 0;
  transition: all linear .5s;
  &.invalid{
    opacity: 1;
  }
}

.styles{
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}
/*
// Tablet
@media screen and (min-width: 30em) {
  .products--grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
  }
}

//Desktop
// No es necesario poner el display de nuevo ni el gap por los hereda del otro.
@media screen and (min-width: 40em) {
  .products--grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
*/
.line-error{
  height: 0;
  border-bottom: 1px solid;
  &.invalid{
    border-color: red;
  }
  &.valid{
    border-color: green;
  }
}

.form{
  width: 300px;
  height: auto;
  margin: 0 auto;
  &__input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 10px 0;
  }
  &__title{
    text-align: center;

  }
  &__button{
    width: 90%;
    display: block;
    margin: 10px auto;
  }
  &__field{
    margin: 0;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    &.valid{
      visibility: collapse;
    }
  }

}
